.person-container {
  box-shadow: 0px 0px 18px #e71b1b;;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.list-container {
  box-shadow: 0px 0px 18px #116de6;
  border: 2px solid blue;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.b-float {
  width:60px;
  height:60px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
  box-shadow: 0px 0px 7px #ffffff;;
  margin: 0px 5px;
}